{% extends "layout.html" %}

{% block title %}
    Lista
{% endblock %}

{% block main %}
  
{% if error %}
    <div class="alert alert-danger text-centered" role="alert">
        {{ error }}
    </div>
{% endif %}
{% if exito %}
    <div class="alert alert-success text-centered" role="alert">
        {{ exito }}
    </div>
{% endif %}
<section class="formulario">
    <legend>Editar Factura</legend>
    <form action="/edit" method="post" id="search-id-form">
        <div class="campo space-around">
            <label for="campo_id" class="larger">ID de Factura:</label>
            <input type="number" id="campo_id" name="campo_id" required>
        </div>

        <div class="campo justify-center">
            <button type="submit" class="boton">Buscar Factura</button>
        </div>
    </form>

    {% if invoice %}
        <div class="contenedor-campos">
            <div class="campo">
                <label for="campo_categoria">Categoría:</label>
                <input class="input-text" type="text" id="campo_categoria" name="nueva_categoria" value="{{ invoice['category'] }}">
            </div>

            <div class="campo">
                <label for="campo_estado">Estado:</label>
                <select required class="input-text" name="nuevo_estado" id="campo_estado">
                    {% if invoice['status'] == "Pagada" %}
                        <option value="{{ invoice['status'] }}" selected> {{ invoice['status'] }} </option>
                        <option value="Pendiente">Pendiente</option>
                    {% else %}
                        <option value="{{ invoice['status'] }}" selected> {{ invoice['status'] }} </option>
                        <option value="Pagada">Pagada</option>
                    {% endif %}
                </select>
            </div>

            <div class="campo">
                <label for="campo_monto">Monto:</label>
                <input class="input-text" type="number" id="campo_monto" name="nuevo_monto" value="{{ invoice['amount'] }}" min="0">
            </div>

            <div class="campo">
                <label for="campo_fecha">Fecha:</label>
                <input class="input-text" type="date" id="campo_fecha" name="nueva_fecha" value="{{ invoice['date'] }}" >
            </div>

            <div class="campo">
                <label for="campo_descripcion">Descripción:</label>
                <textarea id="campo_descripcion" name="nueva_descripcion" class="input-text" cols="20" rows="3" maxlength="120" >{{ invoice["description"] }}</textarea>
            </div>

        </div>
            <!-- Formulario para la acción de eliminar -->
        <form action="/delete" method="post" id="delete-form">
            <input type="hidden" name="campo_id" value="{{ invoice['id'] }}">
        </form>

        <!-- Formulario para la acción de guardar cambios -->
        <form action="/save" method="post" id="save-form">
            <input type="hidden" name="nueva_categoria" id="hidden_categoria" value="{{ invoice['category'] }}">
            <input type="hidden" name="nuevo_estado" id="hidden_estado" value="{{ invoice['status'] }}">
            <input type="hidden" name="nueva_descripcion" id="hidden_descripcion" value="{{ invoice['description'] }}">
            <input type="hidden" name="nuevo_monto" id="hidden_monto" value="{{ invoice['amount'] }}">
            <input type="hidden" name="nueva_fecha" id="hidden_fecha" value="{{ invoice['date'] }}">
            <input type="hidden" name="campo_id" value="{{ invoice['id'] }}">
        </form>

        <div class="campo flex">

            <button type="button" class="boton" id="delete-buttom" onclick="eliminarFactura()">
                Eliminar Factura
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-x" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
                    <path d="M9 9l6 6m0 -6l-6 6" />
                </svg>
            </button>

            <button type="button" class="boton" id="save-buttom" onclick="guardarCambios()">
                Guardar cambios 
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                    <path d="M16 5l3 3" />
                </svg>
            </button>
        </div>
    {% elif mensaje %}
    <div class="justify-center vertical-margin">
        <p class="not-found"> {{ mensaje }} </p>
    </div>
        
    {% endif %}
</section>
<script>
    function eliminarFactura() {
        document.getElementById("delete-form").submit(); // Enviar formulario al hacer clic
    }

    function guardarCambios() {
        document.getElementById("hidden_categoria").value = document.getElementById("campo_categoria").value;
        document.getElementById("hidden_estado").value = document.getElementById("campo_estado").value;
        document.getElementById("hidden_descripcion").value = document.getElementById("campo_descripcion").value;
        document.getElementById("hidden_monto").value = document.getElementById("campo_monto").value;
        document.getElementById("hidden_fecha").value = document.getElementById("campo_fecha").value;

        document.getElementById("save-form").submit(); // Enviar formulario al hacer clic
    }
</script>

{% endblock %}
