{% extends "layout.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block main %}
        <div class="justify-center">
            <h2 class="titulo">Contabilidad General</h2>
        </div>
        
        <h3 class="filtro">Filtros</h3>
        <!-- Filtros -->
        <form id="filtroForm" class="space-around margin-bottom" method="post" action="/">
            <label for="filtroMes">Mes:</label>
            <select id="filtroMes" name="filtroMes">
                <!-- Opciones de meses -->
                <option value="">-</option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>

            <label for="filtroAnio">Año:</label>
            <select id="filtroAnio" name="filtroAnio">
                <!-- Opciones de años -->
                <option value="">-</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>

            </select>

            <label for="filtroCategoria">Categoría:</label>
            <input id="filtroCategoria" name="filtroCategoria">

            <label for="filtroEstado">Estado:</label>
            <select id="filtroEstado" name="filtroEstado">
                <!-- Opciones de estados -->
                <option value="">-</option>
                <option value="Pagada">Pagada</option>
                <option value="Pendiente">Pendiente</option>
            </select>

            <button type="submit">Aplicar Filtros</button>
        </form>
        <!-- Visualización de Datos -->
        <section class="data">
            <h3>Total: C{{ total_amount }}</h3>
            <h3>Numero de  facturas: {{ total_quantity }}</h3>
        </section>
        <section id="contabilidadChart" class="justify-center">
            
            
            {% if invoices %}
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Categoria</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                    </tr>
                    {% for invoice in invoices %}
                        <tr>
                            <td> {{invoice["id"]}}</td>
                            <td> {{invoice["category"]}}</td>
                            <td> {{invoice["amount"]}}</td>
                            <td> {{invoice["date"]}}</td>
                            <td> {{invoice["description"]}}</td>
                        </tr>
                    {% endfor %}
                </table>
                
            {% endif %}
        </section>
        <!-- Aquí puedes incluir el código necesario para la visualización de datos -->

{% endblock %}
