{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}


{% block main %}
    {% if error %}
    <div class="alert alert-danger text-centered" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <section class="box mx-auto">
        <h1>
            Log In
        </h1>
        <form action="/login" method="post">
            <div class="grid">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input required autocomplete="off" autofocus class="form-control mx-auto center-items" name="username" id="username" type="text" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input required class="form-control mx-auto center-items" name="password" id="password" type="password" placeholder="Password">
                </div> 
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </form>
        
    </section>
    
{% endblock %}
